@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,400;1,500&family=Ubuntu:wght@300;400;500;700&display=swap");

body {
  font-family: "Ubuntu";
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.BodyContainer {
  width: 100%;
  height: 660px;
  background-color: #f4f3f2;
  position: relative;
}

.Side_NavBar {
  width: 80px;
  height: 620px;
  background-color: #ffffff;

  position: absolute;

  left: 20px;
  top: 20px;

  border-radius: 20px;

  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

  padding: 19px 0px;

  display: flex;

  flex-direction: column;

  align-items: center;
}

.Side_NavBar_icon {
  font-size: 26px;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 14px;
  margin: 7px;
  color: #2e2d2e;
}

.Side_NavBar_icon2 {
  font-size: 26px;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 14px;
  margin: 7px;
  color: #2e2d2e;
  background-color: #f5cf21;
}

.Side_NavBar_icon:hover {
  background-color: #f4f3f2;
}

.main_body {
  width: 87%;
  height: 635px;
  background-color: transparent;
  margin-left: 135px;

  padding: 22px 5px;
}

.Main_header {
  width: 100%;
  height: auto;
  background-color: transparent;

  display: flex;
  justify-content: space-between;
}

.User_head {
  font-family: "Ubuntu";
  font-weight: 450;
  font-size: 12.8;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000a8;
}

.module_name {
  font-family: "Ubuntu";
  font-weight: 550;
  font-size: 22px;
  letter-spacing: 0px;
  margin-bottom: 0px;

  text-transform: capitalize !important;
  color: #2e2d2e;
}

.User_Crumb {
  display: flex;
  flex-direction: row;
}

.About_user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userheader_icon {
  font-size: 24px;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 10px;
  margin-top: 7px;
  margin-right: 18px;
  color: #2e2d2e;
}

.User_img {
  border-radius: 50%;
  margin-top: 10px;
}

.User_detail {
  font-family: "Ubuntu";

  margin-left: 10px;
  margin-top: 12px;
  font-size: 18px;
  font-weight: 550;
  color: #2e2d2e;
}

.User_detail_sub {
  font-family: "Ubuntu";

  font-size: 12px;
  font-weight: 550;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  color: #000000a8;
}

.down_arrow_ico {
  font-size: 24px;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 10px;
  margin-top: 7px;
  margin-left: 0px;
  opacity: 0.6;
}

.main_content_block {
  width: 100%;
  height: 540px;
  background-color: #ffffff;
  margin-top: 13px;

  border-radius: 25px;

  padding: 20px;
  overflow-y: scroll;
}

.form_head {
  font-family: "Ubuntu";
  font-size: 18px;
  color: #2e2d2e;
  text-align: left;
  font-weight: 500;
  letter-spacing: 0px;
}

.form_suphead {
  font-family: "Ubuntu";
  font-size: 14px;
  color: #757575a8;
  text-align: left;
  font-weight: 500;
  letter-spacing: 0px;
}

.main_content_form_block {
  margin-top: 10px;
  width: 100%;
  height: auto;
  padding: 20px;
}

.form-label {
  font-size: 14px;
  font-family: "Ubuntu";
  font-weight: 550;
  letter-spacing: 0.2px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.605rem 0.75rem !important;
  font-family: "Ubuntu" !important;

  font-size: 1rem;
  font-weight: 450 !important;
  line-height: 1.5;
  color: #212529;
  background-color: #f4f3f2 !important;
  background-clip: padding-box;
  border: 0px solid #ced4da !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.7rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.605rem 0.75rem !important;
  font-family: "Ubuntu" !important;

  font-size: 1rem;
  font-weight: 450 !important;
  line-height: 1.5;
  color: #757575a8;
  background-color: #f4f3f2 !important;
  background-clip: padding-box;
  border: 0px solid #ced4da !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.7rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #2e2d2e !important;
  background-color: rgb(255, 255, 255);
  border-color: none !important;
  outline: 0.125rem solid #2e2d2e !important;
  box-shadow: none !important;
}

.form-select:focus {
  color: #2e2d2e !important;
  background-color: rgb(255, 255, 255);
  border-color: none !important;
  outline: 0.125rem solid #2e2d2e !important;
  box-shadow: none !important;
}

#ddlProducts:hover * {
  background-color: #212529 !important;
  color: white !important;
  padding: 10px !important;
}

.submitbtn {
  width: 12.5vw;
  background-color: #f5cf21;
  border-radius: 12px;
  padding: 7px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #2e2d2e;
}
.cancelbtn {
  width: 12.5vw;
  background-color: transparent;
  border-radius: 12px;
  padding: 7px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #2e2d2e;
}

.submitbtn:hover {
  opacity: 0.8;
}

.btn:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
